<!DOCTYPE HTML>
<html>
<head>
<title>小看电影网</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Movie_store Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<!-- start plugins -->
<script type="text/javascript" src="js/jquery-1.11.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/axios/0.19.2/axios.min.js"></script>
<link href='http://fonts.useso.com/css?family=Roboto+Condensed:100,200,300,400,500,600,700,800,900' rel='stylesheet' type='text/css'>
<script src="js/responsiveslides.min.js"></script>
<script>
    $(function () {
      $("#slider").responsiveSlides({
      	auto: true,
      	nav: true,
      	speed: 500,
        namespace: "callbacks",
        pager: true,
      });
    });
</script>
</head>
<body>
<div class="container">
	<div class="container_wrap">
		<div class="header_top">
		    <div class="col-sm-3 logo"><a href="index.html"><img src="images/logo.png" alt=""/></a></div>
		    <div class="col-sm-6 nav">
			  <ul>
				 <li> <span class="simptip-position-bottom simptip-movable" data-tooltip="comic"><a href="movie.html"> </a></span></li>
				 <li><span class="simptip-position-bottom simptip-movable" data-tooltip="movie"><a href="movie.html"> </a> </span></li>
				 <li><span class="simptip-position-bottom simptip-movable" data-tooltip="video"><a href="movie.html"> </a></span></li>
				 <li><span class="simptip-position-bottom simptip-movable" data-tooltip="game"><a href="movie.html"> </a></span></li>
				 <li><span class="simptip-position-bottom simptip-movable" data-tooltip="tv"><a href="movie.html"> </a></span></li>
				 <li><span class="simptip-position-bottom simptip-movable" data-tooltip="more"><a href="movie.html"> </a></span></li>
			 </ul>
			</div>
			<div id="topNav" class="col-sm-3 header_right">
			   <ul class="header_right_box">
				 <li><img src="images/p1.png" alt=""/></li>
				 <li><p> <a href="login.html" v-if=" user=='' ">登录</a>
						<a v-if="user!=null">{{user.name}}</a></p></li>
				 <li style="font-size: 1.2em;font-weight: 600;margin-top: 4px;"class="last">&nbsp;&nbsp;&nbsp;&nbsp;<a style="color:black" @click="logout()" >退出</a></li>
				 <div class="clearfix"> </div>
			   </ul>
			</div>
			<script type="text/javascript">
			var v2 = new Vue({
				el:"#topNav",
				data:{
					user:{}
				},
				created(){
					axios.get("getLoginedUser").then(res=>{
						this.user = res.data;
					})
				},
				methods:{
					logout(){
						if(confirm("确定要退出登录?")){
							axios.get("out.s").then(res=>{
								alert(res.data.msg);
								location.href = "index.html";
							});
						}
					}
				}
			})
		
		
		</script>
			<div class="clearfix"> </div>
	      </div>
	      <div class="slider">
	   <div class="callbacks_container">
	      <ul class="rslides" id="slider">
	        <li><img src="images/banner.jpg" class="img-responsive" alt=""/>
	        	<div class="button">
			      <a href="#" class="hvr-shutter-out-horizontal">立即观看</a>
			    </div>
			</li>
	        <li><img src="images/banner1.jpg" class="img-responsive" alt=""/>
	        	<div class="button">
			      <a href="#" class="hvr-shutter-out-horizontal">立即观看</a>
			    </div>
			</li>
	        <li><img src="images/banner2.jpg" class="img-responsive" alt=""/>
	        	<div class="button">
			      <a href="#" class="hvr-shutter-out-horizontal">立即观看</a>
			    </div>
			</li>
	      </ul>
	    </div>
	    <div class="banner_desc">
			    	<div class="col-md-9">
			    		<ul class="list_1">
			    			<li>上映时间<span class="m_1">Feb 20, 2015</span></li>
			    			<li>发布时间<span class="m_1">Feb 20 2015</span></li>
			    			<li>评分<span class="m_1"><img src="images/rating.png" alt=""/></span></li>
			    		</ul>
			    	</div>
			    	<div class="col-md-3 grid_1">
			    		<ul class="list_1 list_2">
			    			<li><i class="icon1"> </i><p>2,548</p></li>
			    			<li><i class="icon2"> </i><p>215</p></li>
			    			<li><i class="icon3"> </i><p>546</p></li>
			    		</ul>
			    	</div>
			    </div>
      </div>
      <div class="content">
      	<div class="box_1">
      	 <h1 class="m_2">最热电影</h1>
      	 <div class="search">
		    <form id="nb" >
				<input type="text" v-model="m" value="搜索..." onfocus="this.value='';" onblur="if (this.value == '') {this.value ='';}">
				<input type="button" style="background: url(../images/search.png)no-repeat 3px -2px;
								    width: 20px;
								    height: 20px;
								    border: none;
								    cursor: pointer;
								    outline: none;
								    position: absolute;
								    top: 23%;
								    right: 8px;" @click="querymovie()" value="">
		    </form>
		    <script type="text/javascript">
			var vue = new Vue({
				el:"#nb",
				data:{
					m:""	
				},
				methods:{
					querymovie(){
						var params = new URLSearchParams();
						params.append("m",this.m);
						axios.post("queryM",params).then(res=>{
							alert(res.data.msg);
							if(res.data.code == 1){
								//console.info
								location.href="querymovie.html#"+this.m;
							}
						}).catch(error=>{
							alert("系统错误，请联系管理员");
						})
					}
				}
			})
		    
			</script>
		</div>
		<div class="clearfix"> </div>
		</div>
		<div class="box_2">
			<div id="hotm" class="col-md-5 grid_3">
			  <div class="row_1">
			  <div v-for="m in mlist" class="col-md-6 grid_4" >
			     <a :href="'single.html#'+m.id">
				  <div class="grid_2">
					<img :src="m.poster" class="img-responsive" alt="" style="height:280px;padding-bottom: 40px" border="5px"  />
					<div class="caption1">
				    	<p class="m_3" style="color:black">{{m.name}}</p>
					</div>
				   </div>
			      </a>
			  </div>
			   <div class="clearfix"> </div>
			   </div>
			</div>
			<div id="hotm1" class="col-md-5 grid_3">
			  <div class="row_1">
			  <div v-for="m in mlist" class="col-md-6 grid_4" >
			     <a :href="'single.html#'+m.id">
				  <div class="grid_2">
					<img :src="m.poster" class="img-responsive" alt="" style="height:280px;padding-bottom: 40px" border="5px"  />
					<div class="caption1">
				    	<p class="m_3" style="color:black">{{m.name}}</p>
					</div>
				   </div>
			      </a>
			  </div>
			   <div class="clearfix"> </div>
			   </div>
			</div>
			<div class="col-md-2 grid_6">
				<div class="m_7"><a href="single.html"><img src="images/pic9.jpg" class="img-responsive" alt=""/></a></div>
				<div class="caption1">
						<ul class="list_5">
				    		<li><i class="icon5"> </i><p>3,548</p></li>
				    	</ul>
				    	<i class="icon4 icon6"> </i>
				    	<p class="m_3">Guardians of the Galaxy</p>
				</div>
				<div class="col_2 col_3">
				   	    <ul class="list_4">
			    			<li><i class="icon1"> </i><p>2,548</p></li>
			    			<li><i class="icon2"> </i><p>215</p></li>
			    			<li><i class="icon3"> </i><p>546</p></li>
			    			<li>Rating : &nbsp;&nbsp;<p><img src="images/rating1.png" alt=""></p></li>
			    			<li>Release : &nbsp;<span class="m_4">Mar 15, 2015</span> </li>
			    			<div class="clearfix"> </div>
			    		</ul>
			    		<div class="m_8"><a href="single.html"><img src="images/pic10.jpg" class="img-responsive" alt=""/></a></div>
			    </div>
			</div>
			<div class="clearfix"> </div>
		</div>
		                    <script type="text/javascript">
	    						var vue = new Vue({
	    							el:"#hotm",
	    							data:{
	    								mlist:[]	
	    							},
	    							created(){
	    								axios.get("movie.s?op=queryHot").then(res=>{
	    									this.mlist = res.data;
	    								})
	    							}
	    						})
	    						var vue1 = new Vue({
	    							el:"#hotm1",
	    							data:{
	    								mlist:[]	
	    							},
	    							created(){
	    								axios.get("movie.s?op=queryHot1").then(res=>{
	    									this.mlist = res.data;
	    								})
	    							}
	    						})
    	                    </script>
      </div>
   </div>
 </div>
 
<div class="container"> 
 <footer id="footer">
 	<div id="footer-3d">
		<div class="gp-container">
			<span class="first-widget-bend"></span>
		</div>		
	</div>
    <div id="footer-widgets" class="gp-footer-larger-first-col">
		<div class="gp-container">
            <div class="footer-widget footer-1">
            	<div class="wpb_wrapper">
					<img src="images/f_logo.png" alt=""/>
				</div> 
	          <br>
	          <p>It is a long established fact that a reader will be distracted by the readable content of a page.</p>
			  <p class="text">There are many variations of passages of Lorem Ipsum available, but the majority have suffered.</p>
			 </div>
			 <div class="footer_box">
			  <div class="col_1_of_3 span_1_of_3">
					<h3>Categories</h3>
					<ul class="first">
						<li><a href="#">Dance</a></li>
						<li><a href="#">History</a></li>
						<li><a href="#">Specials</a></li>
					</ul>
		     </div>
		     <div class="col_1_of_3 span_1_of_3">
					<h3>Information</h3>
					<ul class="first">
						<li><a href="#">New products</a></li>
						<li><a href="#">top sellers</a></li>
						<li><a href="#">Specials</a></li>
					</ul>
		     </div>
		     <div class="col_1_of_3 span_1_of_3">
					<h3>Follow Us</h3>
					<ul class="first">
						<li><a href="#">Facebook</a></li>
						<li><a href="#">Twitter</a></li>
						<li><a href="#">Youtube</a></li>
					</ul>
					<div class="copy">
				     <p>Copyright &copy; 2015.Company name All rights reserved.<a target="_blank" href="http://sc.chinaz.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a></p>
			        </div>
		     </div>
		    <div class="clearfix"> </div>
	        </div>
	        <div class="clearfix"> </div>
		</div>
	</div>
  </footer>
</div>		
</body>
</html>